/*
 *zero for 2016-11-05
 * */


/*动态编辑postedit.html*/

#postedit-box {}

#postedit-form {
	margin: 0 8px;
	padding-bottom: 90px;
}

#postedit-tab {
	width: 100%;
}

#postedit-tab>div {
	line-height: 50px;
	width: 50%;
	text-align: center;
	float: left;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	padding-top: 10px;
	background-color: #FFFFFF;
	font-size: 1.1rem;
}

#postedit-tab>div>a {
	color: #333;
}

#postedit-tab>div:nth-of-type(2) {
	border-left: 1px solid #ddd;
	margin-left: -1px;
}

#postedit-tab .postedit-active {
	color: #ea961b;
	border-bottom: 3px solid;
	padding-bottom: 12px;
}

#postedit-form .mui-input-group {
	background-color: rgba(0, 0, 0, 0);
}

#postedit-form .mui-input-group:after {
	height: 0;
}

#postedit-form .mui-input-group .mui-input-row {
	height: 50px;
}

#postedit-form .mui-input-row {
	background-color: #FFFFFF;
}

#postedit-form .mui-input-row label {
	width: 48%;
	font-size: 0.9rem;
	padding: 18px 15px;
}


#postedit-form .postedit-p {
	margin-top: 20px;
	margin-bottom: 3px;
	margin-left: 10px;
}

#postedit-form .mui-input-row input {
	height: 100%;
	 padding: 6px 15px 6px;
}

#postedit-form .mui-input-group .mui-input-row.postedit-textarea {
	height: 100px;
}

#postedit-form .mui-input-group .postedit-textarea textarea {
	height: 100%;
}
.postadd-number {
	position: absolute;
	bottom: 6px;
	right: 10px;
	color: #8f8f94;
}
#postedit-form .mui-input-row .mui-navigate-right>img {
	width: 30px;
	margin: 10px 0 0 0;
	position: absolute;
	right: 47px;
}

#postedit-form .mui-input-group .mui-input-row:after {
	right: 15px;
}

.mui-input-group .mui-input-row.postedit-line:after {
	height: 0;
}

#postedit-button {
	text-align: center;
	padding: 20px 0 20px;
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: #efeff4;
}

#postedit-button button {
	padding: 10px 0px;
	font-size: 1.2rem;
	width: 30%;
	color: #333;
}

#postedit-button .mui-btn-success {
	background-color: #ea961b;
	color: #f7f7f7;
}

#postedit-box .mui-ellipsis {
	color: #000000;
	font-size: 1.1rem;
	margin-bottom: 5px;
}

#postedit-preview-box {
	display: none;
	z-index: 999;
	margin: 0px 20px;
	position: fixed;
}

#postedit-preview-box .mui-media-object {
	width: 100px;
	max-width: 100px;
	height: 100px;
}

#postedit-preview-box .mui-table-view:before,
#postedit-preview-box .mui-table-view:after {
	background-color: rgba(0, 0, 0, 0);
}

#postedit-preview-box button {
	width: 50%;
	float: left;
	font-size: 1.1rem;
	color: #ea961b;
	border-top: 1px solid #ddd;
	border-bottom: 0px solid #ddd;
	border-left: 0px solid #ddd;
	border-right: 0px solid #ddd;
	border-radius: 0;
	padding: 11px 12px;
}
#postedit-preview-box a:nth-of-type(2) button{
	border-left: 1px solid #ddd;
	color: #aeaeae;
}
